@model WebApplication1.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiudadUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiudadUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCuentaUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCuentaUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idUsuario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
