@model IEnumerable<WebApplication1.Models.Usuario>

@{
    ViewBag.Title = "Lista de Usuarios";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Ingresar nuevo Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.tipoUsuario) as @Html.DisplayText("Tipo de Usuario")*@
            Tipo de Usuario
            
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NombreUsuario)*@
            Nombre
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ApellidoUsuario)*@
            Apellido
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.DireccionUsuario)*@
            Dirreccion
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.CiudadUsuario)*@
            Ciudad
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NumeroCuentaUsuario)*@
            Numero de Cuenta
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoUsuario)
                
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CiudadUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCuentaUsuario)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idUsuario }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idUsuario }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.idUsuario })
        </td>
    </tr>
}

</table>
